<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouillos.myrechercheemploi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons8_sac_argent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/outline_manage_search_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.afficher.AfficherSocieteActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.afficher.AfficherListeSocietesActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.afficher.AfficherContactActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.afficher.AfficherListeContactsActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.afficher.AfficherOpportuniteActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.afficher.AfficherListeOpportunitesActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.afficher.AfficherRdvActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.afficher.AfficherListeRdvsActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.exporter.ExporterDatasActivity"
            android:windowSoftInputMode="stateHidden"/>

        
        <provider
            android:authorities="com.pouillos.myrechercheemploi.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
    
 

</manifest>